<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width", initial-scale="1.0">
        <title>DataFrame Display</title>
    </head>
    <body>
        <div class="container mt-5">
            <h2>DataFrame Table</h2>
            {{ table | safe }}
        </div>
        <a href="/download-nl?type=query">Download as CSV</a><br>
        <a href="/download-nl?type=expenses">Download all expenses</a><br>
        <a href="/download-nl?type=bills">Download all bills</a><br>
    </body>
</html>